@using AirportControlTower.Dashboard.Utilities
@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject ILogger<MainLayout> logger

<PageTitle>Dashboard</PageTitle>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <p>
                        Hello
                        <span class="text-primary"> @user</span>
                        <a href="Identity/Account/Logout">Log out</a>
                    </p>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </Authorized>
        <NotAuthorized>
            @*Just render the body so that RedirectToLogin works*@
            @Body
        </NotAuthorized>
    </AuthorizeView>
</div>



@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; } = default!;

    string user = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        @if (firstRender)
        {
            try
            {
                user = await AuthenticationState.GetEmail();
                StateHasChanged();
            }
            catch (Exception)
            {
                logger.LogInformation("User not logged in");
            }
        }
    }
}